<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link rel="stylesheet" href="./../dist/css/contacts.bundle.css">
  </head>
  <body class="body">
    <div class="g-container">
      <header class="header">
        <a class="header__link" href="./main.html">to main</a>
      </header>
      <main class="main">
        <div class="contacts">
          <a class="contacts__link" href="https://www.linkedin.com/in/adam-leos/" target="_blank">LinkedIn</a>
          <a class="contacts__link contacts__link--facebook" href="https://www.facebook.com/4leos" target="_blank">Facebook</a>
          <a class="contacts__link contacts__link--gmail" href="mailto:leos2397@gmail.com">GMail - leos2397@gmail.com</a>
        </div>
      </main>
      <footer>
        <div class="copyright">
          <span class="copyright__letter copyright__letter--1">W</span>
          <span class="copyright__letter copyright__letter--2">I</span>
          <span class="copyright__letter copyright__letter--3">T</span>
          <span class="copyright__letter copyright__letter--4">H</span>
          <span class="copyright__letter copyright__letter--5">&nbsp;</span>
          <span class="copyright__letter copyright__letter--6">L</span>
          <span class="copyright__letter copyright__letter--7">O</span>
          <span class="copyright__letter copyright__letter--8">V</span>
          <span class="copyright__letter copyright__letter--9">E</span>
          <span class="copyright__letter copyright__letter--10">&nbsp;</span>
          <span class="copyright__letter copyright__letter--11">F</span>
          <span class="copyright__letter copyright__letter--12">R</span>
          <span class="copyright__letter copyright__letter--13">O</span>
          <span class="copyright__letter copyright__letter--14">M</span>
          <span class="copyright__letter copyright__letter--15">&nbsp;</span>
          <span class="copyright__letter copyright__letter--16">A</span>
          <span class="copyright__letter copyright__letter--17">D</span>
          <span class="copyright__letter copyright__letter--18">A</span>
          <span class="copyright__letter copyright__letter--19">M</span>
          <span class="copyright__letter copyright__letter--20">&nbsp;</span>
          <span class="copyright__letter copyright__letter--21">L</span>
          <span class="copyright__letter copyright__letter--22">E</span>
          <span class="copyright__letter copyright__letter--23">O</span>
          <span class="copyright__letter copyright__letter--24">S</span>
          <span class="copyright__letter copyright__letter--25">&nbsp;</span>
        </div>
      </footer>
    </div>
  <script type="text/javascript" src="./../dist/js/contacts.bundle.js"></script>
  </body>
</html>
