<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./../dist/css/information.bundle.css">
  </head>
  <body class="body">
    <div class="g-container">
      <header class="header">
        <a class="header__link" href="./main.html">to main</a>
      </header>
      <main class="main">
        <table class="ratio-widget">
          <thead>
          <tr class="ratio-widget__row">
            <th colspan="2" class="ratio-widget__data ratio-widget__data--head">Current ratio of USD</th>
          </tr>
          </thead>
          <tbody class="j-ratio-widget-body"></tbody>
        </table>
      </main>
      <footer>
        <div class="copyright">
          <span class="copyright__letter copyright__letter--1">W</span>
          <span class="copyright__letter copyright__letter--2">I</span>
          <span class="copyright__letter copyright__letter--3">T</span>
          <span class="copyright__letter copyright__letter--4">H</span>
          <span class="copyright__letter copyright__letter--5">&nbsp;</span>
          <span class="copyright__letter copyright__letter--6">L</span>
          <span class="copyright__letter copyright__letter--7">O</span>
          <span class="copyright__letter copyright__letter--8">V</span>
          <span class="copyright__letter copyright__letter--9">E</span>
          <span class="copyright__letter copyright__letter--10">&nbsp;</span>
          <span class="copyright__letter copyright__letter--11">F</span>
          <span class="copyright__letter copyright__letter--12">R</span>
          <span class="copyright__letter copyright__letter--13">O</span>
          <span class="copyright__letter copyright__letter--14">M</span>
          <span class="copyright__letter copyright__letter--15">&nbsp;</span>
          <span class="copyright__letter copyright__letter--16">A</span>
          <span class="copyright__letter copyright__letter--17">D</span>
          <span class="copyright__letter copyright__letter--18">A</span>
          <span class="copyright__letter copyright__letter--19">M</span>
          <span class="copyright__letter copyright__letter--20">&nbsp;</span>
          <span class="copyright__letter copyright__letter--21">L</span>
          <span class="copyright__letter copyright__letter--22">E</span>
          <span class="copyright__letter copyright__letter--23">O</span>
          <span class="copyright__letter copyright__letter--24">S</span>
        </div>
      </footer>
    </div>
  <script type="text/javascript" src="./../dist/js/information.bundle.js"></script>
  </body>
</html>
