.ratio-widget {
  width: 900px;
  margin: 0 auto;
  border: 1px solid #000;
  &__row {
    border-top: 1px solid #000;
  }
  &__data {
    padding: 10px;
    font-size: 22px;
    text-align: center;
    &--head {
      background-color: #4f8ca9;
      font-size: 26px;
      color: #fff;
      text-transform: uppercase;
    }
    &--currency {
      border-right: 1px solid #000;
    }
  }
}